In [6]:
import mysql.connector as connector

In [8]:
connection=connector.connect(user="admin1",password="Tenn1022@0201",host='localhost',
    database='littlelemondm')

In [9]:
cursor = connection.cursor()

In [10]:
show_tables_query = "SHOW tables"

In [11]:
cursor = connection.cursor()
cursor.execute("USE littlelemondm")  # Replace with your actual database name

In [12]:
show_tables_query = "SHOW TABLES"
cursor.execute(show_tables_query)
results = cursor.fetchall()
for table in results:
    print(table)

('bookings',)
('customerdetails',)
('menu',)
('orderdeliverystatus',)
('orders',)
('staffinformation',)

In [17]:
join_query = """
SELECT CONCAT(customerdetails.FirstName, ' ', customerdetails.LastName) AS FullName, 
       customerdetails.PhoneNumber, 
       Orders.TotalCost
FROM customerdetails
JOIN Orders ON customerdetails.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60
"""

In [18]:
cursor.execute(join_query)
join_results = cursor.fetchall()
for row in join_results:
    print(row)

('MOLCQUEOE YBH', '2633708237', 205)
('BOHEWDBHBK FJBQGWF', '5991062985', 171)
('THHGCH KNBAF', '4675625193', 207)
('VTB UCQJMH', '3362136248', 366)
('MOLCQUEOE YBH', '2633708237', 459)